@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Kadokey Palette */
  --color-kadokey-navy: #1F3A6E;
  --color-kadokey-maroon: #B9364B;
  --color-kadokey-pink: #EE5D7A;
  --color-kadokey-yellow: #FFE66D;
  --color-kadokey-blue: #7C9CC1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
